<!-- <div class = "container">
    <a routerLink ="/products"><img src="\assets\images\img1.jpeg" style="width:350px"/></a>
</div> -->


<img class="banner"
src="https://svstr.com/wp-content/uploads/2019/12/strizhstudio-gender-shopping.jpeg" alt="banner" style = "width : 150">



